@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
body {
  font-family: Arial, sans-serif;
  width: 99vw;
  height: 95vh;
  object-fit: cover;
  background-image: url(./images/k.png);
  background-size: cover;
  background-position: center;
}
body {
  font-family: 'Gochi Hand', cursive;
  color: #4a3f35; /* Dark brown for main text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gochi Hand', cursive;
  color: #8c6e57; /* Warm brown for headings */
}
header>h1{
  text-align: center;
  background-color: #ebe9e9;
  border-radius: 10px;
  padding: 10px;
}
.body{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
}
.simulator-var,
.constants,
.simulator-result{
  font-family: Arial, sans-serif;
  background-color: rgba(235, 233, 233, .9);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
}
.massValue{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nonDisplay{
  position: absolute;
  left: -50%;
}

.closedFridge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.closedFridge > img {
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
}

.fridge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fridge > img {
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
}

.substance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  width: 10%;
  height: auto;
}

.substance > img {
  width: 150%;
  height: auto;
  object-fit: cover;
  margin: 50% auto 0;
}
.simulator-container {
  width: 50%;
  margin: auto;
  text-align: center;
}
input,
select {
  margin: 10px 0;
}
input,
select,
.massValue>input{
  width: 180px;
}
#btnCalculate{
  background-color: #cf9775; /* Soft reddish-brown for button background */
  color: #fff; /* White text color for buttons */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#time-result{
  background-color: #cf9775; /* Soft reddish-brown for button background */
  color: #fff; /* White text color for buttons */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
#btnOk{
  float: right;
  background-color: #cf9775; /* Soft reddish-brown for button background */
  color: #fff; /* White text color for buttons */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
  .substance {
    left: 10%;
  }
}